.about {
    position: relative;
    background: $lightbeige;

    .container {
        position: relative;
    }

    .swiper-slide {
        position: relative;
        display: flex;
        padding-top: 440px;
        box-sizing: border-box;
    }

    &__swiper {
        overflow: hidden;
    }

    &__img img {
        position: absolute;
        bottom: -20px;
        left: 10%;
        height: 80%;
        width: 35%;
        opacity: 0.8;
        filter: grayscale(1);
    }

    &__name {
        width: 25%;
        margin-top: 190px;
        margin-left: 25%;
        text-align: center;
        box-sizing: border-box;
        z-index: 2;
    }
    &__info {
        width: 50%;
        padding: 110px 150px;
        box-sizing: border-box;
    }

    .main-title {
        display: inline-block;
    }

    .title {
        text-align: center;
    }

    &__list {
        position: absolute;
        top: 25%;
        right: 24%;
        transform: rotate(-90deg);
    }

    &__item {
        position: relative;
        width: 14px;
        height: 14px;
        margin-bottom: 23px;
        border-radius: 50%;
        background: $lightbeige1;
        color: $lightbeige1;
        transition: 0.3s;

        &.active {
            background: $beige;
            color: $beige;
        }
    }

    &__item-text {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0, -50%);
        white-space: nowrap;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;

        &:last-of-type {
            right: auto;
            left: 20px;
        }
    }

    @media (max-width: 1600px) {

        .swiper-slide {
            padding-top: 320px;
        }

        &__list {
            top: 50px;
            right: 270px;
        }

        &__info {
            width: 55%;
            padding: 70px 90px;
            padding-top: 0px;
        }

        &__name {
            width: 30%;
            margin-top: 70px;
            margin-left: 15%;
            text-align: center;
            box-sizing: border-box;
            z-index: 2;
        }
    }

    @media (max-width: 1100px) {

        .swiper-slide {
            padding-top: 250px;
        }

        &__list {
            top: 50px;
            right: 180px;
        }
    
        &__item {
            width: 10px;
            height: 10px;
            margin-bottom: 15px;
        }

        &__item-text {
            font-size: 10px;
        }

        &__info {
            width: 55%;
            padding: 40px 35px;
            padding-top: 0px;
        }

        &__img img {
            left: 3%;
        }
    }

    @media (max-width: 770px) {

        &__img,
        &__list {
            display: none;
        }

        .swiper-slide {
            display: block;
            padding: 20px 0;
        }

        &__name {
            width: 100%;
            margin: 40px auto;
        }

        .main-title:first-of-type {
            margin-right: 20px;
        }

        &__info {
            width: 90%;
            margin: 0 auto;
            padding: 0;
            padding-bottom: 40px;
        }
    }

    @media (max-width: 500px) {
        &__name {
            width: 150px;
            margin: 20px auto;
        }

        .main-title:first-of-type {
            margin-right: 0px;
        }

        &__info {
            width: 88%;
            padding-bottom: 20px;
        }
    }
}

