.main-footer {
    position: relative;
    background: url("../../assets/img/contact-bg.jpg") 50% 100% no-repeat;
    background-size: cover;
    padding-top: 170px;
    height: 100vh;
    box-sizing: border-box;

    .container {
        text-align: center;
    }

    .main-title {
        letter-spacing: 3px;
        line-height: 120px;
    }

    .socials {
        position: relative;
        margin-top: 75px;

        &:before {
            content: '';
            position: absolute;
            top: -45px;
            left: 50%;
            transform: translate(-50%, 0);
            height: 3px;
            width: 140%;
            background-image: linear-gradient(to right, $lightbeige 13%, transparent 0%);
            background-position: bottom;
            background-size: 20px 3px;
            background-repeat: repeat-x;
        }
    }

    &__bottom-inner {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        padding: 70px 0;

        .container {
            display: flex;
            justify-content: space-between;
        }
    }

    &__copyright {
        display: block;
        margin-top: 18px;
        color: $lightbeige;
        font-size: 18px;
        text-transform: uppercase;
    }

    @media (max-width: 1600px) {
        padding-top: 70px;

        .main-title {
            line-height: 75px;
        }

        &__bottom-inner {
            padding: 40px 0;
        }
    }

    @media (max-width: 1100px) {
        padding-top: 70px;

        .main-title {
            line-height: 55px;
            letter-spacing: 0;
        }

        &__bottom-inner {
            padding: 40px 0;
        }

        .socials {
            position: relative;
            margin-top: 50px;
    
            &:before {
                width: 120%;
                top: -30px;
            }
        }

        &__bottom-inner {
            padding: 20px 0;
        }
    
        &__copyright {
            display: block;
            margin-top: 0px;
            color: $lightbeige;
            font-size: 14px;
            text-transform: uppercase;
        }
    }

    @media (max-width: 770px) {
        padding-top: 50px;
        height: auto;

        .socials {
            margin-bottom: 80px;
        }

        &__bottom-inner {
            position: relative;
        }

        &__copyright {
            margin: 0 auto;
            font-size: 12px;
        }
    }

    @media (max-width: 500px) {

        .main-title {
            font-size: 32px;
            line-height: 38px;
        }

        .socials:before {
            display: none;
        }

    }
}