.main-nav {
    &__list {
        display: flex;
        justify-content: space-between;
        width: 460px;
    }

    &__item {
        position: relative;
        
        &:not(:last-of-type):after {
            content: '';
            position: absolute;
            top: 50%;
            right: -15px;
            transform: translate(0, -50%);
            width: 6px;
            height: 6px;
            background: $beige;
            border-radius: 50%;
        }
    }

    &__link {
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
    }

    &__active-decor {
        position: absolute;
        height: 6px;
        width: 5px;
        bottom: -6px;
        left: 50%;
        transform: translate(calc(-50% - 24px), 0);
        background: $beige;
        box-shadow: 28px 0 0 0 $beige, 49px 0 0 0 $beige;

        &:before {
            content: '';
            position: absolute;
            height: 11px;
            width: 5px;
            top: 0;
            right: -2px;
            transform: translate(5px, 0);
            background: $beige;
            box-shadow: 14px 0 0 0 $beige, 28px 0 0 0 $beige;
        }

        &:after {
            content: '';
            position: absolute;
            height: 16px;
            width: 5px;
            top: 0;
            right: -9px;
            transform: translate(5px, 0);
            background: $beige;
            box-shadow: 28px 0 0 0 $beige;
        }
    }

    &--light {

        .main-nav__link {
            color: $lightbeige;
        }
    }

    @media (max-width: 1100px) {
        &__list {
            width: 375px;
        }

        &__link {
            font-size: 14px;
        }

        &__active-decor {
            transform: translate(calc(-50% - 20px), 0) scale(0.8);
        }
    }

    @media (max-width: 770px) {

        &__list {
            position: absolute;
            display: block;
            bottom: 0px;
            left: 40px; 
            width: 110px;
            transform: translate(0, 100%);
            transition: 0.3s;
            box-sizing: border-box;
        }

        &__item {
            margin-top: 20px;

            &:after {
                display: none;
            }
        }

        &__active-decor {
            left: 0;
            transform: translate(0, 0) scale(0.8);
        }

        &--light {
            display: none;
        }
    }

    @media (max-width: 500px) {
        &__list {
            left: 20px;
        }

        &__link {
            font-size: 12px;
        }
    }
}