$orange: #e84c3d;

$darkblue: #171f23;
$darkblue1: #1f282c;
$darkblue2: #0e1316;

$lightgray: #f8f6f6;
$lightgray1: #ebebeb;

$darkgray: #787474;
$darkgray1: #353535;
$darkgray2: #1c1c1c;

$font-lightgray: #d6d5d5;
$font-gray: #696969;
$font-darkgray: #3d3d3d; 
